* {
  box-sizing: border-box;
  font-style: normal;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
}

.f-g-1 {
  flex-grow: 1;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}
